<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" data-bs-backdrop="false" aria-labelledby="offcanvasCartLabel" #modal>
  <div class="cart-header">
    <h5 id="offcanvasCartLabel">Trzcina Bistro Kielce</h5>
    <button type="button" class="btn-close btn-close-black text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>

  </div>
  <div class="cart-body">
    <div class="cart-delivery-address">Deliver to Lotnicza 8</div>
    <div class="cart-items">
      <div *ngFor="let item of orderRequest.items" class="cart-item">
        <div class="cart-item-name">{{ item.name }}</div>
        <hr>
        <ul class="cart-item-options">
          <li>ADDITIVES:</li>
<!--          <li *ngFor="let additive of item.foodAdditivePrices | keyvalue">-->
<!--            {{ additive.key }} - PLN {{ additive.value }}-->
<!--          </li>-->
        </ul>

        <ul class="cart-item-options">
          <li>Size:</li>
          <li> {{ item.selectedSize.size }} - PLN {{ item.selectedSize.price }}</li>
        </ul>

        <hr>
        <div class="cart-item-quantity">{{ item.quantity }}</div>
        <div class="cart-item-price">PLN {{ item.generalPrice }}</div>
      </div>

    </div>
    <div class="cart-notes">
      <input type="text" placeholder="Add an order note" class="cart-notes-input">
    </div>
  </div>
  <div class="cart-footer">
    <div class="cart-subtotal">Subtotal: PLN 44.40</div>
    <button class="btn-checkout" (click)="sendOrderRequestToCheckout()">Go to checkout</button>
    <button class="btn-add-items">Add items</button>
  </div>
</div>
