<div class="container  d-flex align-items-center justify-content-center">

  <div class="row w-100 gx-5">


    <div class="col-md-6">

      <div class="card mb-3">
        <div class="card-header">Delivery details</div>
        <div class="card-body">
          <p>Cypriana Kamila Norwida, 35<br>Kielce</p>
          <p>Leave at my door<br><small class="text-muted">domofon nie działa kod 35*970 proszę zostawić przed drzwiami</small></p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">Payment</div>
      <div class="card-body">
        <button class="btn btn-paypal">PAYPAL</button>
        <button class="btn btn-paypal">CASH</button>
        <button class="btn btn-paypal">FEASTO CASH</button>
      </div>

    </div>


    </div>


    <div class="col-md-6">

      <div class="card mb-3">
        <div class="card-header">Order summary</div>
        <div class="card-body">
          <p>5 items</p>
          <div>Zapiekanka ale Uwra!</div>
          <small class="text-muted">Wybierz swój ulubiony rozmiar: Cała (30 cm) PLN 5.50</small>
        </div>
      </div>
    </div>
  </div>


</div>


<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="card custom-card">

    <div class="card-body">
      <h5 class="card-title custom-card-title">Order Summary</h5>
      <div>
        <p>Subtotal: PLN 94.95</p>
        <p>Delivery Fee: PLN 0.00</p>
      </div>

      <div class="my-3">
        <label for="tip1" class="form-label">Add a tip</label>
        <select class="form-select custom-form-select" id="tip1">
          <option>Not now</option>
          <option>10%</option>
          <option>15%</option>
          <option>20%</option>
          <option>25%</option>
        </select>
      </div>

      <div class="fw-bold custom-total">Total: PLN 94.95</div>

      <button class="btn btn-success custom-order-button mt-3">Place Your Order</button>
    </div>
  </div>
</div>

