<div class="container  d-flex align-items-center justify-content-center" *ngIf="!paymentMethodSelected">

  <div class="row w-100 gx-5">


    <div class="col-md-6">

      <div class="card mb-3">
        <div class="card-header">Delivery details</div>
        <div class="card-body">
          <p>Cypriana Kamila Norwida, 35<br>Kielce</p>
          <p>Leave at my door<br><small class="text-muted">domofon nie działa kod 35*970 proszę zostawić przed drzwiami</small></p>
        </div>
      </div>



    </div>


    <div class="col-md-6">

      <div class="card mb-3" *ngIf="finalOrderRequest">
        <div class="card-header">Order summary</div>
        <div class="card-body">
          <p>Items: {{finalOrderRequest.items.length}}</p>
          <div *ngFor="let item of finalOrderRequest.items" class="mt-3">
            <div>{{item.name}}</div>
            <small class="text-muted"> Size: {{item.selectedSize.size}} - PLN {{item.selectedSize.price}}</small>
            <br>
            <small class="text-muted"> Additives:</small>
            <br>
            <div *ngFor="let additive of foodAdditivePricesArray">
              <small class="text-muted">{{ additive.name }} - PLN {{ additive.price }}</small>
              <br>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="card mt-1">
      <div class="card-header">Payment</div>
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <button class="btn btn-paypal" (click)="selectPaymentMethod('paypal')">PAYPAL</button>
        <button class="btn btn-paypal" (click)="selectPaymentMethod('cash')">CASH</button>
<!--        <button class="btn btn-paypal" (click)="selectPaymentMethod('feasto-cash')">FEASTO CASH</button>-->
      </div>

    </div>

    <div class="d-flex mt-5 align-items-center justify-content-center">
      <button class="btn btn-primary w-25" (click)="forwardToSummary()">Summary</button>
    </div>


  </div>



</div>


<div class="container mt-5 d-flex align-items-center justify-content-center" *ngIf="paymentMethodSelected">
  <div class="card custom-card">

    <div class="card-body">
      <h5 class="card-title custom-card-title">Order Summary</h5>
      <div>
        <p>Subtotal: PLN 94.95</p>
        <p>Delivery Fee: PLN 0.00</p>
      </div>

      <div class="my-3">
        <label for="tip1" class="form-label">Add a tip</label>
        <select class="form-select custom-form-select" id="tip1">
          <option>Not now</option>
          <option>10%</option>
          <option>15%</option>
          <option>20%</option>
          <option>25%</option>
        </select>
      </div>


      <div class="my-3">
        <label for="tip1" class="form-label">Currency</label>
        <select class="form-select custom-form-select" id="currency">
          <option selected>PLN</option>
          <option>USD</option>
          <option>EUR</option>
        </select>
      </div>

      <div class="fw-bold custom-total">Total: PLN 94.95</div>

      <button class="btn btn-success custom-order-button mt-3" (click)="placeOrder()">Place Your Order</button>
    </div>

  </div>

  <div class="d-flex align-items-start mb-4">
    <button type="button" (click)="paymentMethodSelected = false" class=" btn btn-secondary btn-back">  &lt;&lt; </button>
  </div>
</div>

