<!-- split-screen.component.html -->
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-6 d-flex">
      <!-- Left side content goes here -->
      <div>
        <h2>Left Column</h2>
        <p>This is the left side of the split screen.</p>
      </div>
    </div>
    <div class="col-md-6" style="height: 200px">
      <!-- Right side content goes here -->
      <div>
        <h2>Right Column</h2>
        <p>This is the right side of the split screen.</p>
      </div>
    </div>
  </div>
</div>
