<!-- src/app/app.component.html -->
<div class="container" [class.right-panel-active]="rightPanelActive">
  <div class="sign-up">
    <form action="#">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin"></i></a>
      </div>
      <p>or use your email for registration</p>
      <input type="text" name="txt" placeholder="Name" [(ngModel)]="registerRequest.firstname" required>
      <input type="text" name="txt-2" placeholder="Lastname" [(ngModel)]="registerRequest.lastname" required>
      <input type="email" name="email" placeholder="Email" [(ngModel)]="registerRequest.email" required>
      <input type="password" name="pswd" placeholder="Password" [(ngModel)]="registerRequest.password" required>
      <button type="submit" (click)="registerUser()">Sign Up</button>
    </form>
  </div>

  <div class="sign-in">
    <form action="#">
      <h1>Sign In</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin"></i></a>
      </div>
      <p>or use your account</p>
      <input type="email" name="email" placeholder="Email" [(ngModel)]="authRequest.email" required>
      <input type="password" name="pswd" placeholder="Password" [(ngModel)]="authRequest.password" required>
      <a href="#">Forgot your password?</a>
      <button type="submit" (click)="authenticate()">Sign In</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn" (click)="togglePanel(false)">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start your journey with us</p>
        <button class="ghost" id="signUp" (click)="togglePanel(true)">Sign Up</button>
      </div>
    </div>
  </div>
</div>
