<div class="container mt-5">


  <div class="filter-panel mb-5">



    <label class="filter-input">
      <input type="text" id="restaurantName" [(ngModel)]="searchTerm"  name="search" placeholder="Search" (input)="applyFilter()">
    </label>

    <select [(ngModel)]="selectedFoodType" (change)="updateFilters()" name="foodType" class="custom-select select-filter-width">
      <option value="" disabled selected> Food Type</option>
      <option value="Italian">Italian</option>
      <option value="Chinese">Chinese</option>
    </select>


    <select [(ngModel)]="selectedRating" (change)="updateFilters()" name="rating" class="custom-select select-filter-width">
      <option value="" disabled selected>Rating</option>
      <option value="3.0">3.0</option>
      <option value="4.0">4.0</option>
      <option value="5.0">5.0</option>
    </select>



    <!-- Price Range Select -->
    <select [(ngModel)]="selectedPriceRange" (change)="updateFilters()" name="priceRange" class="custom-select select-filter-width">
      <option value="" disabled selected>Price</option>
      <option value="10">$</option>
      <option value="30">$$</option>
      <option value="50">$$$</option>
    </select>




    <select [(ngModel)]="selectedSortOption" #event1 (change)="onSortChanged(event1.value)" name="sort" class="sort-place custom-width">
      <option value="" disabled selected>Sort</option>
      <option value="price">Price</option>
      <option value="rating">Rating</option>
      <option value="popularity" disabled>Popularity</option>
    </select>
<!--    <button type="button" class="btn-close" aria-label="Close"></button>-->



  </div>


  <div class="header-flex"> <!-- Custom flex container -->
    <h2 class="text-start">Restaurants</h2>
    <button type="button" class="btn-clear" (click)="resetFilter()">Reset</button> <!-- Custom button class -->
  </div>

  <p class="mb-5">number of results:{{numberOfResults }}</p>



  <div class="row">
    <div class="col-md-3" *ngFor="let restaurant of restaurants; let i = index;">
      <div class="card">
        <div class="card-img-top rounded-circle mx-auto d-block">

          <img ngSrc="./assets/default_restaurant_image.jpg" *ngIf="!restaurant.image" alt="{{ restaurant.name }} "
               height="1080" width="1920" priority>
          <img [ngSrc]="restaurant.image" *ngIf="restaurant.image" alt="{{ restaurant.name }}" fill>

          <div class="rating">{{ restaurant.rating % 1 === 0 ? (''+restaurant.rating + '.0') : '' +restaurant.rating.toFixed(1)+'' }}</div>
        </div>
        <div class="card-body text-center">
          <div class="card-title-heart">
            <h5 class="card-title">
              <a [routerLink]="['/restaurants', restaurant.restaurantId]">{{ restaurant.name }}</a>
            </h5>
            <div class="heart-icon">
              <i class="fas fa-heart"></i>
            </div>
          </div>
          <div class="status mt-2">

            <div class="status-circle-opened" *ngIf="checkIfOpened(restaurant.openingHours)">
              <p class="mt-3">Opened</p>
            </div>

            <div class="status-circle-closed" *ngIf="!checkIfOpened(restaurant.openingHours)">
              <p class="mt-3">Closed</p>
            </div>



            <div class="info-circle">
              <!-- Przykład użycia tooltipa z ng-bootstrap -->
              <i class="material-icons" style="font-size: 30px;" ngbTooltip="{{restaurant.description}}">info</i>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






  <div class="text-center mt-4">
    <button id="show-more" class="btn btn-primary">Show More</button>
  </div>



</div>
